<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    
    <add name="mydb"
     connectionString="Data Source=mimi-PC\\SQLEXPRESS;AttachDbFilename=|DataDirectory|\\UniData.mdf;Integrated Security=True;User Instance=True"/>
    
  </connectionStrings>
  

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      
      <pages>
        <namespaces>
          <add namespace="System.Data"/>
          <add namespace="System.Text"/>
          <add namespace="System.Data.SqlClient"/>
          <add namespace="System.Configuration"/>
         
        </namespaces>
      </pages>
      
    </system.web>

</configuration>
